@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  
}
:root {
  --app-bg-dark: transparent;
  --app-bg-before: transparent;
  --app-bg-before-2: transparent;
  --app-bg-light: transparent;
  --app-logo: transparent;
  
  --main-color: #fff;
  --secondary-color: #5e6a81;
  --color-light: transparent;
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
}
body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Space Mono', monospace;

  background: rgb(110,38,122);
background: linear-gradient(155deg, rgba(110,38,122,1) 0%, rgba(29,29,106,1) 40%, rgba(47,25,58,1) 59%, rgba(56,46,80,1) 77%, rgba(75,78,99,1) 100%);
}
       


.app-logo span {
  color: #fff;
  
  line-height: 24px;
  font-size: 16px;
  margin-left: 16px;
}

button {
  cursor: pointer;
}









.applicant-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.applicant-line img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0;
}
.applicant-info span {
  color: var(--main-color);
  font-size: 14px;
  line-height: 16px;
}
.applicant-info p {
  margin: 4px 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
}
.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile-box:before {
  content: '';
  position: absolute;
  top: 100%;
  height: 48px;
  width: 100%;
  background-image: var(--app-bg-before-2);
  z-index: 1;
}
.profile-photo-wrapper {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  margin-bottom: 16px;
}
.profile-photo-wrapper img {
  width: 100%;
  height: 100%;
  
}
.profile-text, .profile-subtext {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  margin: 0 0 8px 0;
}
.profile-text {
  font-weight: 600;
}




.message-line {
 
  
  padding: 8px 16px;
  margin-bottom: 8px;
}
.message-line:hover {
  background-color: var(--list-item-hover);
}
.message-line img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  
}
.message-text-wrapper {
  max-width: calc(100% - 48px);
}
.message-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color);
  margin: 0;
  opacity: 0.8;
  width: 100%;
}
.message-subtext {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
  margin: 4px 0 0 0;
  
  width: 100%;
}
.activity-line {
  padding: 8px 16px;
  display: flex;
  
  margin-bottom: 8px;
}
.activity-link {
  font-size: 12px;
  line-height: 16px;
  color: var(--app-logo);
  text-decoration: underline;
}

  
.activity-text strong {
  color: #fff;
  opacity: 0.4;
  font-weight: 500;
}

.activity-icon.warning {
  background-color: var(--warning-bg);
  color: var(--warning-icon);
}
.activity-icon.applicant {
  background-color: var(--applicant-bg);
  color: var(--applicant-icon);
}
.activity-icon.close {
  background-color: var(--close-bg);
  color: var(--close-icon);
}
.activity-icon.draft {
  background-color: var(--draft-bg);
  color: var(--draft-icon);
}



nav {
  width: 1000%;
  background-color: darkblue;
  height: 120px;
 
 

}

.nav-links {
  margin: -2%;
  list-style: none;
  display: flex;
  
}

.nav-links li {
  margin-right: 20px; /* Adjust spacing between links as needed */
}

/* Style the links as needed */
.nav-links a {
  text-decoration: none;
  color: #ffffff; /* Adjust link color as needed */
  font-weight: bold;
}

.nav-links a:hover {
  color: #007bff; /* Adjust link hover color as needed */
}